@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Přístup odepřen";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">K této stránce nemáte přístup.</p>
</header>
